
<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style type="text/css">
        h1 {
            margin-top: 50px;
            text-align: center;
            font-weight: bold
        }
        .row {
            display: flex;
            justify-content: center;
            margin-top: 50px
        }
        .col-md-6 {
            display: flex;
            justify-content: center;
            gap: 10px }
        .mypage-div {
            text-align: center
        }
        .profile-picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            margin: auto;
        }
        h2 {
            text-align: center;
            margin-top: 50px;
            font-weight: bolder;
        }
        .myinfo-div {
            width: fit-content;
            padding: 30px 50px 50px 50px;
            margin: auto;
        }
    </style>
</head>
<body>