{{>layout/header}}

<h1>3LEE 게시판</h1>
<div class="col-md-12">
    <!--로그인 기능 영역-->
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                로그인한 유저: <div id="user">{{userName}}</div>
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                <a href="/mypage" role="button" class="btn btn-info">마이페이지</a>
                <a href="/logout" class="btn btn-danger" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google"
                   class="btn btn-outline-secondary" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver"
                   class="btn btn-outline-success" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    {{#userName}}
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>좋아요</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td>
                        <!--좋아요 버튼-->
                        <button class="likeBtn" data-like-id="{{id}}" style="background: none; border: none; outline: none;">
                        <span class="heart" style="color:{{#liked}}red{{/liked}}{{^liked}}gray{{/liked}}; font-size:22px;">
                        </span>
                        </button>
                    </td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    {{/userName}}
    {{^userName}}
        <p class="alert alert-warning">로그인 후에 게시글을 확인할 수 있습니다.</p>
    {{/userName}}
</div>

{{>layout/footer}}
