{{>layout/header}}

<div class="mypage-div">
<h1>3LEE 게시판</h1>
    <a href="/" role="button" class="btn btn-info">게시판으로 돌아가기</a>
    <div class="myinfo-div">
    {{#userName}}
    <h2>{{userName}}님의 정보</h2>
        <p><strong>Name:</strong> {{userName}}</p>
        <p><strong>Email:</strong> {{userEmail}}</p>
        <div><strong>Profile Image</strong></div>
        <img src="{{userPicture}}" alt="Profile Picture" class="profile-picture">
    {{/userName}}
    </div>
    {{^userName}}
        <p>로그인한 유저가 존재하지 않습니다.</p>
    {{/userName}}
</div>

{{>layout/footer}}
