<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <style>
        /* 이미지를 원형으로 만들기 위한 스타일 */
        .profile-picture {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover; /* 이미지 비율에 맞게 잘라내기 */
        }
    </style>
</head>
<body>
<h1>My Page</h1>

{{#userName}}
    <div>
        <p><strong>Name:</strong> {{userName}}</p>
        <p><strong>Email:</strong> {{userEmail}}</p>
        <img src="{{userPicture}}" alt="Profile Picture" class="profile-picture">
    </div>
{{/userName}}

{{^userName}}
    <p>로그인한 유저가 존재하지 않습니다.</p>
{{/userName}}

<a href="/" class="btn btn-primary">Go Home</a>
</body>
</html>
